In [1]:
#sets are strings
s1={1,8,9,0,10,9,0,1,9}
print(s1)
print(type(s1))

{0, 1, 8, 9, 10}
<class 'set'>

In [2]:
lst1={1,8,9,0,10,20,78,8,8,8}

In [3]:
s2=set(lst1)
print(s2)
print(type(s2))

{0, 1, 20, 8, 9, 10, 78}
<class 'set'>

In [4]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [5]:
#union operation
s1={1,2,3,4}
s2={1,4,5,6}

In [6]:
s1 | s2

{1, 2, 3, 4, 5, 6}

In [7]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [8]:
#intersection
s1={1,2,3,4}
s2={3,4,5,6}

In [9]:
s1 & s2

{3, 4}

In [10]:
s1.intersection(s2)

{3, 4}

In [11]:
#difference
s1={2,3,5,6,7}
s2={5,6,7}

In [13]:
s1 - s2

{2, 3}

In [14]:
#symmertric difference
s1={1,2,3,4,5}
s2={4,5,6,7,8}

In [16]:
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [17]:
s2.symmetric_difference(s1)

{1, 2, 3, 6, 7, 8}

In [18]:
#strings
str1="Welcome to aiml class"
str2="We started with python"
str3="this is an awesome class"
print(str1)
print(str2)
print(str3)

Welcome to aiml class
We started with python
this is an awesome class

In [19]:
print(type(str1))
print(type(str2))
print(type(str3))

<class 'str'>
<class 'str'>
<class 'str'>

In [21]:
str4='''He said, "It 's awesome!'''
print(str4)

He said, "It 's awesome!

In [22]:
#slicing in string
print(str1)
str1[5:10]

Welcome to aiml class

'me to'

In [23]:
str1[::-1]

'ssalc lmia ot emocleW'

In [24]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [25]:
#use of split()
print(str1)
str1.split()

Welcome to aiml class

['Welcome', 'to', 'aiml', 'class']

In [27]:
#use of join method in strings
reviews ={"The product is awesome", "Greate service"}
joined_string = ' '.join(reviews)
joined_string

'Greate service The product is awesome'

In [28]:
#use of strip()method
str5 = "    Hello, How are you?   "
str5

'    Hello, How are you?   '

In [29]:
str5.strip()

'Hello, How are you?'

In [30]:
d1 = {"Ram": 180, "sham":170,"ramu":176}

In [31]:
for k in d1.keys():
    print(k)

Ram
sham
ramu

In [32]:
for v in d1.values():
    print(v)

180
170
176

In [33]:
for k,v in d1.items():
    print(k,v)

Ram 180
sham 170
ramu 176

In [34]:
d1["john"] = 165
d1

{'Ram': 180, 'sham': 170, 'ramu': 176, 'john': 165}