In [1]:
num = 6
if num %2 == 0:
    print("even")
else:
    print("odd")

even

In [2]:
print("even") if num %2 == 0: else: print("odd")

SyntaxError: invalid syntax (2771899011.py, line 1)

In [3]:
x = 10
result = "Positive" if x > 0 else "negative"
print(result)

Positive

In [4]:
age = 18
category = "Adult" if age >= 18 else "Minor"
print(category)

Adult

In [5]:
#nested ifelse
num=0
result="positive" if num>0 else "negative" if num<0 else "Zero"
print(result)

Zero

In [6]:
num=0
if num>0:
    print("Positive")
elif num<0:
    print("negitive")
else:
    print("Zero")

Zero

In [8]:
#list comprehension
l =[1,9,2,10,56,89]
[2*x for x in l]

[2, 18, 4, 20, 112, 178]

In [10]:
for x in l:
    print(2*x)

2
18
4
20
112
178

In [14]:
#prin even numbers
[x for x in l if x%2 == 0]

[2, 10, 56]

In [17]:
for x in l:
    if x%2 == 0:
        print(x)

2
10
56

In [18]:
#print odd numbers
[x for x in l if x%2 != 0]

[1, 9, 89]

In [20]:
#dictionary comprehension
d1={'ram':[70,71,98,100], 'john' :[56,98,67,65], 'prem' :[76,98,91,87]}
d1

{'ram': [70, 71, 98, 100], 'john': [56, 98, 67, 65], 'prem': [76, 98, 91, 87]}

In [25]:
{k:sum(v)/len(v) for k,v in d1.items()}

{'ram': 84.75, 'john': 71.5, 'prem': 88.0}

# write a user defined function to compute average

In [26]:
#define function (reusable)
def mean_value(given_list):
    total = sum(given_list)
    average_value = total/len(given_list)
    return average_value

In [28]:
#call the function
l = [1,2,3,4,5,6,7,8,9,10]
mean_value(l)

5.5

In [29]:
#define function (reusable)
def mean_value(l):
    total = sum(l)
    average_value = total/len(l)
    return average_value

In [31]:
#call the function
l = [1,2,3,4,5,6,7,8,9,10]
mean_value(l)

5.5